@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #1A1F36;
  --background-hex: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html::-webkit-scrollbar,
.hide-scroll::-webkit-scrollbar {
  display: none;
}

html,
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}